
mixin mainNav()
    ul#main-menu.right
        for menuItem in menuItems
            li(id= menuItem.itemId)
                a(href= menuItem.itemLink)= menuItem.itemAnchor

mixin portfolio()
    .row
        for peice in portfolio
            .small-6.medium-4.large-expand.columns
                a(href= peice.image, data-lightbox= peice.tag)
                    img(src= peice.thumb)


mixin skillinfo(skillTitle, skillDesc, src)
    h2= skillTitle
    p= skillDesc
 
    img.skill-icons(src=src)

// ... expects and array
mixin skills(...items)
    ul(class='skills')
        each item in items
            li= item