
mixin mainNav()
    .top-bar-right
        ul.menu
            for menuItem in menuItems
                li(id= menuItem.itemId)
                    a(href= menuItem.itemLink, class= menuItem.cssClass)= menuItem.itemAnchor

mixin portfolio()
    .row.small-up-1.medium-up-2.large-up-4.portfolio
        for peice in portfolio
            .column.text-center
                a(href= peice.image, data-lightbox= peice.tag data-title= peice.caption)
                    img.thumbnail(src= peice.thumb)


mixin socialLinks(cssClass)
    ul(class= cssClass)
        for icon in social
            li.social-icon
                a(href= icon.link, target= icon.target, class= icon.cssClass)


mixin skillinfo(skillTitle, skillDesc, src)
    h2= skillTitle
    p= skillDesc
    if src != ''
        img.skill-icons(src=src)
    
// ... expects and array
mixin skills(...items)
    ul(class='skills')
        each item in items
            li= item